@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

:root {
  --bg: rgba(2, 2, 38, 1);
  --color: #12c35b;
}

.brand {
  font-weight: 900;
  color: var(--color);
}

.page-back-btn {
  position: fixed;
  top: 15px;
  left: 10px;
  font-size: 25px;
  padding: 8px;
  opacity: 0.5;
  transform: scale(0.85);
  cursor: pointer;
  color: #ccc;
}

.page-back-btn:hover {
  transition: 0.3s ease;
  transform: scale(0.95);
  opacity: 1;
}

body {
  background: var(--bg);
  font-family: "Poppins", sans-serif;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow-x: hidden;
}

.main-container {
  position: absolute;
  top: 0px;
  left: 0px;
  color: #cccc;
  padding: 0px;
  width: 100%;
  height: 100vh;
  /* background: green; */
}

/* header */
.header {
  width: 100%;
  position: relative;
  top: 0px;
  left: 0px;
  padding: 0px;
  height: auto;
}

.header .ovl {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0px;
  top: 0px;
}

.header .header-cont {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  margin: 0px auto;
}

.header .header-cont .text {
  width: 50%;
  z-index: 1;
}
.header .header-cont .text .startBtn {
  background: var(--color);
  color: #000;
  font-weight: 900;
  padding: 10px 30px;
  margin-top: 20px;
}

.header .header-cont .imgcont img {
  width: 100%;
  left: 0;
  top: 0px;
}

/* section */
.section {
  width: 100%;
  height: 100vh;
  padding: 0px;
  position: relative;
  left: 0px;
}

.section .main {
  padding: 0px;
}

.section .boxes {
  width: 80%;
  height: auto;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  margin: 0px auto;
}
.section .boxes .box {
  width: 280px;
  height: auto;
  padding: 10px;
  background: #000;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: column;
  border-radius: 10px;
  /* border: 2px solid var(--color); */
  border-width: 4px;
  border-left: 2px solid var(--color);
  border-right: 2px solid var(--color);
}

.section .boxes .box .left {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section .boxes .box .left ion-icon {
  font-size: 100px;
  color: var(--color);
}

.section .boxes .box .right {
  width: 100%;
  padding: 20px;
  text-align: center;
}

.section .features {
  width: 100%;
  height: auto;
  padding: 20px;
  background: #010111;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.section .features .head {
  padding: 20px;
}
.section .features .body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  flex-wrap: wrap;
}

.section .features .body .box {
  padding: 20px;
  margin: 10px;
  width: 200px;
  height: 200px;
  background: var(--bg);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 2px solid var(--color);
  border-radius: 10px;
  font-size: 20px;
  opacity: 0.5;
  transform: scale(0.75);
  transition: 0.3s ease;
}

.section .features .body .box:hover {
  transform: scale(0.95);
  opacity: 1;
  cursor: pointer;
}

.section .features .body .box:hover > ion-icon {
  color: var(--color);
}

.section .features .body .box ion-icon {
  font-size: 80px;
  padding: 20px;
}

.footer {
  width: 100%;
  height: 30vh;
  padding: 20px;
  background: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* mental ovl */
.mental-ovl {
  width: 100%;
  height: 100vh;
  padding: 0px;
  position: fixed;
  background: rgba(0, 0, 0, 0.9);
  top: 0px;
  left: 0px;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: none;
}

.mental-ovl .mental-option-cont {
  width: 450px;
  height: auto;
  padding: 20px;
  margin-top: 20px;
  background: var(--bg);
  border-radius: 10px;
}

.mental-ovl .mental-option-cont .head {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  position: relative;
}
.mental-ovl .mental-option-cont .head .close-icon {
  position: absolute;
  right: -20px;
  top: -20px;
  padding: 8px;
  border-radius: 50%;
  opacity: 0.8;
  transform: scale(0.75);
  transition: 0.3s ease;
  cursor: pointer;
}

.mental-ovl .mental-option-cont .head .close-icon:hover {
  background: rgba(255, 0, 0, 0.7);
  opacity: 1;
  transform: scale(0.95);
}

.mental-ovl .mental-option-cont .mental-body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.mental-ovl .mental-option-cont .mental-body .choice {
  padding: 10px;
  width: 150px;
  height: 150px;
  margin: 5px auto;
  background: #010111;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: scale(0.75);
  transition: 0.3s ease;
  cursor: pointer;
  opacity: 0.4;
  border-radius: 10px;
}

.mental-ovl .mental-option-cont .mental-body .choice:hover {
  opacity: 1;
  transform: scale(0.85);
  border: 3px solid #12c35b;
}

.mental-ovl .mental-option-cont .mental-body .choice ion-icon,
.mental-ovl .mental-option-cont .mental-body .choice .jokes {
  font-size: 50px;
  padding: 10px;
}

/* JOKES PAGE */

.jokes-header {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.jokes-header .body {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  text-indent: 10px;
}

.jokes-header .body .boxes {
  padding: 20px;
  margin-top: 10px;
}

.jokes-header .body .boxes .btn {
  margin: 10px;
  transform: scale(0.95);
  transition: 0.3s ease;
}

.jokes-header .body .boxes .btn:hover {
  transform: scale(0.99);
}

.jokes-header .body .boxes .jokes-btn {
  background: var(--color);
  font-weight: 900;
}

.jokes-header .body .boxes .memes-btn {
  background: #000;
  font-weight: 900;
  border: 3px solid var(--color);
  color: #ccc;
}

.jokes-main-cont {
  width: 100%;
  height: 100vh;
  padding: 0px;
  position: fixed;
  background: rgba(0, 0, 0, 0.9);
  top: 0px;
  left: 0px;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: none;
}

.jokes-main-cont .jokes-body {
  width: 50%;
  height: auto;
  padding: 20px;
  margin-top: 20px;
  background: var(--bg);
  border-radius: 10px;
}

.jokes-screen {
  width: 100%;
  height: 250px;
  border-radius: 10px;
  border: 3px solid var(--color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: #cccc;
  padding: 20px;
}

.jokes-main-cont .jokes-body .gen-btn {
  background: #000;
  font-weight: 900;
  border: 3px solid var(--color);
  color: #ccc;
}
.jokes-main-cont .jokes-body .head {
  width: 100%;
  height: auto;
  padding: 20px;
  position: relative;
}
.jokes-main-cont .jokes-body .head .close-icon {
  position: absolute;
  right: -20px;
  top: -20px;
  padding: 8px;
  border-radius: 50%;
  opacity: 1;
  transform: scale(0.85);
  transition: 0.3s ease;
  cursor: pointer;
  color: #ccc;
}

.jokes-main-cont .jokes-body .head .close-icon:hover {
  background: rgba(255, 0, 0, 0.7);
  opacity: 1;
  transform: scale(0.95);
}

/* MEMES GENERATOR */
.memes-main-cont {
  width: 100%;
  height: 100vh;
  padding: 0px;
  position: fixed;
  background: rgba(0, 0, 0, 0.9);
  top: 0px;
  left: 0px;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: none;
}

.memes-main-cont .memes-body {
  width: 50%;
  height: auto;
  padding: 20px;
  margin-top: 20px;
  background: var(--bg);
  border-radius: 10px;
}

.memes-screen {
  width: 100%;
  height: 450px;
  border-radius: 10px;
  border: 3px solid var(--color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: #cccc;
  padding: 0px;
  position: relative;
}

.memes-screen img {
  position: absolute;
}

.memes-screen .memes-img {
  width: 100%;
  height: 450px;
  background-repeat: no-repeat;
}

.memes-main-cont .memes-body .gen-btn {
  background: #000;
  font-weight: 900;
  border: 3px solid var(--color);
  color: #ccc;
}
.memes-main-cont .memes-body .head {
  width: 100%;
  height: auto;
  padding: 20px;
  position: relative;
}
.memes-main-cont .memes-body .head .close-icon {
  position: absolute;
  right: -20px;
  top: -20px;
  padding: 8px;
  border-radius: 50%;
  opacity: 1;
  transform: scale(0.85);
  transition: 0.3s ease;
  cursor: pointer;
  color: #fff;
}

.memes-main-cont .memes-body .head .close-icon:hover {
  background: rgba(255, 0, 0, 0.7);
  opacity: 1;
  transform: scale(0.95);
  color: #fff;
}

/* MEDITATION */

.medi-main-container {
  width: 100%;
  height: 100vh;
  position: relative;
  background: var(--bg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.medi-ovl {
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0px;
  top: 0px;
  /* background:rgba(0, 0, 0, 0.5); */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.medi-ovl .medi-box {
  width: 300px;
  height: 300px;
  border: 5px solid var(--color);
  border-radius: 50%;
  box-shadow: 0px 0px 100px var(--color);
}

.medi-ovl .medi-box img {
  transform: scale(0.85);
}

.medi-ovl .medi-box img {
  transition: 0.2s ease;
  animation: grow 3s linear infinite;
}

.medi-ovl .instruction {
  margin-top: 30px;
  padding: 20px;
  font-size: 20px;
  font-weight: 800;
  color: var(--color);
}

.medi-ovl .controls .start-meditation-btn {
  margin-top: 30px;
  padding: 10px;
  font-size: 20px;
  font-weight: 800;
  background: #000;
  color: var(--color);
  border: 2px solid var(--color);
}

@keyframes grow {
  0% {
    transform: scale(1.1);
    transition: 0.2s ease;
  }
  50% {
    transform: scale(0.95);
    transition: 0.2s ease;
  }
  100% {
    transform: scale(1.1);
    transition: 0.2s ease;
  }
}

.reset-meditation{
    position: fixed;
    bottom: 20px;
    right: 10px;
}

/* MOOD CONTAINER */

.mood-main-container {
  width: 100%;
  height: 100vh;
  position: relative;
  left: 0px;
  top: 0px;
}

.mood-cont {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 20px;
}

.mood-cont .box-a {
  width: 45%;
  position: relative;
  left: 0px;
  background: #010111;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
}
.mood-cont .box-a .head {
  width: 100%;
  padding: 20px;
  text-align: center;
  color: #ccc;
}
.mood-cont .box-a .bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
  width: 100%;
  margin: 0px auto;
}

.mood-cont .box-a .mood-bx {
  width: 120px;
  height: 120px;
  margin: 10px;
  background: red;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: var(--bg);
  color: #ccc;
  border-radius: 10px;
  transform: scale(0.85);
  cursor: pointer;
}
.mood-cont .box-a .mood-bx:hover {
  transform: scale(1);
  transition: 0.2s ease;
}

.mood-cont .box-a .mood-bx .icon {
  font-size: 30px;
  pointer-events: none;
}

.mood-cont .box-a .btn {
  margin: 10px auto;
  background: #000;
  color: var(--color);
  border: 2px solid var(--color);
  padding: 10px 25px;
  border-radius: 30px;
}

.mood-cont .box-b {
  width: 60%;
  margin: 10px;
  padding: 0px;
  left: 0px;
  border-radius: 10px;
  position: relative;
  background: #010111;
  padding: 20px;
}

.mood-cont .box-b .head {
  width: 100%;
  color: #ccc;
  text-align: center;
  padding: 10px;
}

.mood-cont .box-b .music-body {
  width: 100%;
  height: 400px;
  max-height: 400px;
  overflow-y: scroll;
  display: flex;
  /* align-items: center; */
  /* justify-content:center; */
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
  text-align: center;
  color: #fff;
}

.mood-cont .box-b .music-body::-webkit-scrollbar {
  width: 3px;
  background: #777;
}

.mood-cont .box-b .music-body .music-card {
  width: 180px;
  height: 200px;
  background: url("https://lh3.googleusercontent.com/vxJGG-2rl6aZ2tftWtfvE9qLWiG1ZlQ_QF19S60K-vq1YDBcrqTipd3ArXAE4sbtz4DioV5NCwbP9X8f=w120-h120-l90-rj");
  border-radius: 10px;
  background-size: cover;
  background-position: cover;
  background-repeat: no-repeat;
  position: relative;
  border: 2px solid var(--color);
  overflow: hidden;
  margin: 10px auto;
}

.mood-cont .box-b .music-body .music-card .play-cont {
  width: 100%;
  height: 200px;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
}

.mood-cont .box-b .music-body .music-card .play-cont ion-icon {
  padding: 10px;
  background: var(--bg);
  border-radius: 50%;
}

.mood-active {
  border: 2px solid var(--color);
  transform: scale(1.2);
  opacity: 1;
}
